<body>

  <h2>
    Studip coaching
  </h2>

  <div>
    <%= @ask %>
    <p>- You</p>
  </div>

  <div>
    <%= @answer %>
    <p>- Your coach</p>
  </div>

  <div>
    <a href="http://localhost:3000/ask">Ask a new question</a>
  </div>

</body>


